*.csproj.user
*.[Rr]e[Ss]harper*
*.sln.cache
*.suo
*.user
*.orig
*.pidb
*.ide
*.userprefs
.DS_Store
deploy/
build/
[Bb]in
[Dd]ebug
[Oo]bj
[Rr]elease
_[Rr]e[Ss]harper.*/
*.docstates
*.tss

*.dotCover
/RP.Website/App_Data
/RP.Website/bin
/RP.Website/obj
/RP.Business/bin
/RP.Business/obj
/RP.DataAccess/bin
/RP.DataAccess/obj
/RP.Interface/bin
/RP.Interface/obj
/RP.Model/bin
/RP.Model/obj
/RP.Utilities/bin
/RP.Utilities/obj
/packages
/.vs/rp/v15/Server/sqlite3
