<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DailyJobTime" value="12:52" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RPContext" connectionString="metadata=res://*/RP.csdl|res://*/RP.ssdl|res://*/RP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER2012;initial catalog=RP;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RPConnectionString" connectionString="data source=.\MSSQLSERVER2012;initial catalog=RP;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="RPContext" connectionString="metadata=res://*/RP.csdl|res://*/RP.ssdl|res://*/RP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev.fusionsoft.co.th;initial catalog=RP;persist security info=True;user id=sa;password=Fus!0nSoft1412;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RPConnectionString" connectionString="data source=dev.fusionsoft.co.th;initial catalog=RP;persist security info=True;user id=sa;password=Fus!0nSoft1412;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="IBusiness" type="RP.Business.Business, RP.Business"></object>
      <object id="IUnitOfWork" type="RP.DataAccess.EFUnitOfWork, RP.DataAccess" />
    </objects>
  </spring>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>